.card {
    max-width: '100%'
  }
 .cardMedia {
    height: 0;
    padding-top: '56.25%'
  }

  .contained {
    display: inline-block;
    background: #58869e;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 15px 30px 0px;
    border-radius: 30px;
    text-decoration: none;
    transition: all 300ms ease;
}
  
.contained:hover {
  background: #e4b9b9;
  cursor: pointer;
  color: #352f2f;
 }

 .show-more{
  background-color: #58869e !important;
 }

 .my-button {
   background-color: #58869e !important;
   /* Initial background color */
   color: #fff !important;
   /* Initial text color */
   transition: background-color 0.3s, color 0.3s !important;
   /* Add a smooth transition effect */
 }

 /* Apply styles when hovering over the button */
 .my-button:hover {
   background-color: #e4b9b9 !important;
   /* New background color on hover */
 }

