/* chi: adding css styles for Tool bar*/



.toolbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 15px;
}

.toolbar-functions {
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 769px) {
    .sp-menu {
        display: none;
    }
}

@media (max-width: 769px) {
    .toolbar-functions {
        display: none;
    }

    .search {
        display: none;
    }
}


.logo-banner {
    width: 150px;
    padding: 7px;
}

.logo {
    cursor: pointer;
}

.logo-div {
    display: flex;
    gap: 20px;
}

.icon-div {
    margin: auto;
}