/* chi: adding css styles for Tool bar*/



.toolbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 15px;
}

.toolbar-functions {
    display: flex;
    justify-content: flex-end;
}

.logo-banner {
    width: 150px;
    padding: 15px;
}

.logo {
    cursor: pointer;
}

.icon-div {
    margin: auto;
}