/* home page styling */


.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.css-mhc70k-MuiGrid-root {
    justify-content: center;
    width: 100%;
}

.hp-sale {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    margin: 0 auto;
}




.sale-title {
    margin: 0, auto;
    color: #58869e;
    width: 100%;
}

.category-title {
    margin: 0, auto;
    color: #58869e;
    width: 80%;

}

.sale-pc {
    margin: 0, auto;
    width: 100%;

}

.sale-image {
    width: 100%;
    margin-bottom: 100px;

}


.category-content {
    display: flex;
    gap: 20px;
}

@media (max-width: 769px) {
    .category-content {
    display: block;
    }
}



.each-category-card {
    width: 380px;
}

.css-2ulfj5-MuiTypography-root {
    font-family: "roboto";
    font-size: 1.5rem;
    font-weight: bold;
}

h4 {
    font-size: 1rem;
}


