/* single product details*/

.row {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 80px;
  }
  /*single product col-2*/
    .single-product .col-2 img {
      padding: 0;
    }

    .single-product .col-2 {
      padding: 20px;
    }

    .single-product .col-2 h4 {
      font-size: 22px;
      font-weight: bold;
    }

    .single-product .col-2 input {
      width: 30px;
      height: 30px;
      padding-left: 10px;
      font-size: 15px;
      margin-right: 10px;
      border: 1px solid #352f2f;
      display: flex;
    }
    
    input :focus {
      outline: none;
    }


/*images*/
.small-img-row {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
display: flex;
flex-basis: 24%;
cursor: pointer;
}


/*button*/
.btn {
  display: inline-block;
  background: #58869e;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 15px 30px 0px;
  border-radius: 30px;
  text-decoration: none;
  transition: all 300ms ease;
}

.btn:hover {
  background: #e4b9b9;
  cursor: pointer;
  text: #352f2f;
}

.btn-fav {
  display: inline-table;
  background: #c2bfbf;
  color: #ffffff;
  border-radius: 30px;
  padding: 4px 10px;
  margin: 10px 0;
  font-size: 150%;  
  text-decoration: none;
  transition: all 300ms ease;
}

.btn-fav:hover {
  cursor: pointer;
  background: #e4b9b9;
  color: rgb(255, 0, 0);
}

  /* general col-2*/
  .col-2 {
    flex-basis: 40%;
    min-width: 300px;
    vertical-align: middle;
  }
  .col-2 img {
    max-width: 100%;
    padding: 50px;
  }

  .col-2 h1 {
    font-size: 350%;
    line-height: 60px;
    margin: 25px 0;
  }

  .col-2 h3 {
    font-size: 110%;
  }

  .section-text {
    vertical-align: middle;
  }

/* BREADCRUMBS*/

.breadcrumbs {
  padding: 10px;
  font-family: sans-serif;
  box-shadow: 0 4px 30px -110px rgba(97, 122, 119, 0.2);
  width: fit-content;
}

.breadcrumbs-items {
  display: inline-block;
}

.breadcrumbs-items:not(:last-of-type)::after {
  content: '\203a';
  margin: 0 10px;
  color: #cccccc;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #999999;
}

.breadcrumbs-link:hover {
  color: #e4b9b9;
}

.breadcrumbs-link-active {
  color: #58869e;
  font-weight: bold;
}