.box {
    border: 1px solid #ecedeb;
    padding: 16px;
    background: #FFFFFF;
}

.text-color {
    color: #58869e;
}

.box-container {
    display: flex;
    flex-direction: column !important;
    gap: 20px;
}

.checkout-box {
    padding: 16px;
    border-bottom: 1px solid #ecedeb;
}

.grid-container {
    width: 100% !important;
    display: flex !important;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.checkout-grid-items {
    margin-bottom: 16px;
}

.product-name {
    color: #58869e;
    cursor: pointer;
    margin-bottom: 16px;
    text-decoration: none;
    font-weight: 700;
}

.checkout-btn {
    color: #FFFFFF !important;
    padding: 12px 28.8px;
    font-size: 16px;
    background-color: #58869e !important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15), 0px 2px 10px rgba(0, 0, 0, 0.08);
    text-align: center;
    font-weight: 700;
    line-height: 24px;
    border-radius: 2px;
    text-transform: none;
    width: 100%;
}

.quantity-div {
    display: flex;
    justify-content: space-between;
}